html {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,255,.37);
    background-blend-mode: multiply;
    background-image: url("/Bornholms_Hospital.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

.calendar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    color: white;
    height: 95vh;
    width: 90vw;
    flex: 1;
}

.calendar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
