
.team-e__dish-calendar-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .team-e__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .team-e__calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  /* Calendar */
  .team-e__calendar {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .team-e__subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .team-e__calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .team-e__calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .team-e__day {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .team-e__day:hover {
    background-color: #cce5ff;
  }
  
  .team-e__day.selected {
    background-color: #007bff;
    color: white;
  }
  
  /* DishSelector */
  .team-e__dish-selector {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .team-e__dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
  }

  .team-e__search-dishes {
    margin-bottom: 8px;
    color: black;
    padding: 0.5rem;
    
    border-radius: 5px;
    background-color: white;
    outline: none;
  }

  .team-e__search-input {
    width: 100%;
    padding: 0.5px;
    border: 0px;
  }

  .team-e__search-input:focus {
    outline: none;
  }

  
  .team-e__toggle-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .team-e__toggle-button.active {
    background-color: #dc3545;
    color: white;
  }
  
  .team-e__toggle-button.inactive {
    background-color: #28a745;
    color: white;
  }
  
