.header-container {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    gap: 10px;
    height: 75px;
    a {
        text-decoration: none;
        h1 {
            padding: 0;
            margin: 0;
        }

        h2 {
            padding: 0;
            margin: 0;
        }
    }
}

.header-container-left {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    gap: 10px;
    height: 75px;
}

.header-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 75px;
}

.header-container-left-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    > * {
        width: 33px;
        > * {
            width: 100%;
        }
    }
}

.header-quit {
    border-radius: 5px;
    background-color: red;
}

.header-settings {
    border-radius: 5px;
    background-color: lightblue;
}

.header-logo {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;

    > * {
        max-height: 75%;
    }

    img {
    }
    
    h1 {
        color: black;
        font-size: 1.1rem;
    }
}

.header-section-info {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
    height: fit-content;
    
    h1 {
        color: black;
        font-size: 1rem;
    }
    h2 {
        color: gray;
        font-size: 0.5rem;
    }
}

.header-date-time {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    
    h1 {
        color: gray;
        font-size: 1rem;
    }
    h2 {
        color: black;
        font-size: 1.5rem;
    }
}
