.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: none;
    flex: 1;
    margin-top: 5vh;
}

.home__links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20vw;
    grid-row-gap: 20px;
    width: 100%;
    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: blue;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
        text-decoration: none;
        img {
            width: 8vw;
        }
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        -webkit-animation-iteration-count: 1;
    }
    a:hover {
        animation-name: bounce;
    }
    h1 {
        padding: 0;
        margin: 0;
        font-size: 1.0rem;
    }
}

@keyframes bounce {
    50% {
        -webkit-transform: translateY(-3px);
        -ms-transform:     translateY(-3px);
        transform:         translateY(-3px)
    }
}
