html {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,255,.37);
    background-blend-mode: multiply;
    background-image: url("/Bornholms_Hospital.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    max-width: 75vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    > * {
        display: flex;
        flex: 1;
    }
}

.logo {
    display: flex;
    justify-content: center;
    img {
        width: 100px;
    }
}

.index-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    flex: 1;
}

.index-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
